In [1]:
a=13
b=3
print(a,b)

13 3

In [2]:
input()

12344

'12344'

In [3]:
c=input()
type(c)

123

str

In [4]:
c=int(input())
type(c)

12234

int

In [5]:
c=int(input())
type(c)
print(c)

2345
2345

In [6]:
c=float(input())
type(c)
print(c)

1234
1234.0

In [7]:
c=float(input())
type(c)
print(c)

23456.98
23456.98

### Arithmatic operators
### Relational oprerators
### Assignment operators
### Logical operators
### Bitwise operators
### Indentation
### Membership operators

* Arithematic operators

In [13]:
a=10
b=90
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

100
-80
900
0.1111111111111111
0
10

In [14]:
a**b

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [15]:
pow(a,b)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

* Relatinal operators

In [16]:
12==24

False

In [17]:
12!=24

True

In [18]:
12<24

True

In [19]:
12>24

False

* Assignment operators

In [21]:
a=20
b=30
c=50
a
b
c

50

In [2]:
a=20
b=30
c=50
print(a)
print(b)
print(c)

20
30
50

In [5]:

a=6
a*=2
a

12

In [3]:
a

20

*membership operators

In [ ]:
a="padmavathi"
k