### simple if
### if else
### else if
### nested if

In [1]:
// simple if
a=10
if a==10:
    print("equal")

equal

In [4]:
if a==10: // #   if else
    print("eqaul")
else:
    print("not equal")

eqaul

In [11]:
# elif stmts
a=40;b=20;c=30
if a>b and a>c:
    print("a is the largest number",a)
elif b>a and b>c:
    print("b is the largest number",b)
else:
    print(c,"c is the largest number")

a is the largest number 40

In [12]:
# nested if
if a>b:
    if a>c:
        print("a is the largest")
elif b>c:
    print("b is the largest")
else:
    print("c is the largest")

a is the largest

### for loops

In [ ]:
for temp_var in sequence

In [13]:
for i in 1,2,3:
    print(i)

1
2
3

In [15]:
"k" in "keerthi" # it checks the given letter is there are not

True

In [16]:
2==3  # 2 is 3

False

In [17]:
2 is 3

False

In [ ]:
for i in range(start,end,step)

In [18]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [21]:
for i in range(1,20,10):
    print(i)

1
11

In [22]:
str1="apssdc"
for i in str1:
    print(i)

a
p
s
s
d
c

In [23]:
str1="apssdc"
for i in str1:
    print(i,end=" ")

a p s s d c

In [25]:
str1="apssdc"
for i in str1:
    print(i,"\n")

a

p

s

s

d

c

# while

### list

In [29]:
l1=[1,2,3]
type(l1)

list

In [39]:
l2=[1,2,3,"hii",2.3]
type(l2)

list

In [32]:
l3=[1,2,[3,4]]
type(l3)
print(l3)

[1, 2, [3, 4]]

In [33]:
l3[0]

1

In [34]:
l3[2][0] # second list zeroth element

3

In [40]:
l2[0:]

[1, 2, 3, 'hii', 2.3]

In [41]:
l2[1:3]

[2, 3]

In [37]:
l2[1:4]

[2, 3, 'hii']

In [38]:
l2[::-1]

[3, 2, 'hii', 3, 2, 1]

In [42]:
l2[0::]

[1, 2, 3, 'hii', 2.3]

In [44]:
l2[:4:] ## list[start,end,step]

[1, 2, 3, 'hii']

In [45]:
l2[0::2]

[1, 3, 2.3]

In [46]:
l2[0::3]

[1, 'hii']

In [47]:
a="sri padmavati mahila university"
b=a.split()
print(b)
type(b)

['sri', 'padmavati', 'mahila', 'university']

list

In [48]:
a="sri padmavati mahila university"
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'ti m', 'hil', ' university']

list

In [49]:
"a".join(b)

'sri padmavati mahila university'

In [53]:
"".join(a)

'sri padmavati mahila university'

# functions on list

### * len
### * min
### * max
### * sorted
### * sum

In [55]:
 li=[34,56,78,23]
len(li)

4

In [56]:
sorted(li,reverse=True) ## big to small descending order

[78, 56, 34, 23]

In [57]:
li1=sorted(li) ## small to big ascending order
li1

[23, 34, 56, 78]

In [58]:
li[0]=90

In [59]:
li

[90, 56, 78, 23]

In [60]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [61]:
li.append(122) # it insert last value
li

[90, 56, 78, 23, 122]

In [62]:
li.append(1)
li

[90, 56, 78, 23, 122, 1]

In [63]:
li.clear()

In [64]:
li

[]

In [65]:
li=[1,2,3]
list1=li.copy()
list1

[1, 2, 3]

In [66]:
li.count(1) # in list how many number of times it repeats

1

In [68]:
li.append(1)
li

[1, 2, 3, 4, 1]

In [69]:
li.count(1)

2

In [70]:
li.index(2) ## it represents position (2)list number

1

In [81]:
li.index(1,3,5)

4

In [83]:
li.insert(0,67)
li

[67, 67, 1, 2, 3, 4, 1]

In [84]:
li

[67, 67, 1, 2, 3, 4, 1]

In [85]:
li.pop(0) ## 0 is the index value
li

[67, 1, 2, 3, 4, 1]

In [86]:
li.remove(67) ## 67 is the value
li

[1, 2, 3, 4, 1]

In [87]:
sorted(li) ## small to big

[1, 1, 2, 3, 4]

### *Check the given year is a Leap year or not

In [94]:
a=int(input())
if (a % 400 == 0 or(a % 4 == 0 and a % 100 != 0)):
    print("a is a leap year")
else:
    print("a is not a leap year")

2017
a is not a leap year

### 2.Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)

In [102]:
b=int(input())
def ran(lb,ub):
    for i in range(lb,ub):
        if b==i:
            print(" ",b,"exist")
ran(int(input()),int(input()))

6
3
20
  6 exist

### Calculate the square root of a given number

In [96]:
srt=int(input())
nu=srt**(1/2)
nu

625

25.0

# loop progrms

### Print n Natural Numbers using while loop.

In [103]:
def a(num):
    i=1
    while(i<=num):
        print(i)
        i += 1
a(int(input()))

3
1
2
3